
.center{
    align-items: center;
}
.choiceList{
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    list-style-image: url('https://res.cloudinary.com/qualifier/image/upload/v1585479266/Default/check-mark_zbl05t.svg');
}

.creativeImg{
    background-size: cover;	
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.viewBtn{
    padding: 0px 30px 8px;
    border-radius: 25px;
    background-color: transparent;
    color: #082952;
    border: 2px solid #082952;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: acumin-pro, "sans-serif";
    transition: all ease-in-out 0.2s;
}
.viewBtn:hover{
    background-color: #082952;
    color: #fff;
}