
.loginDataBox{
    max-width: 500px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#LoginImgSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    /* color: white;
    background: radial-gradient(50% 50% at 50% 50%, rgb(18, 38, 71) 0%, rgb(9, 14, 35) 100%); */
    background-image: url("https://res.cloudinary.com/oasismanors/image/upload/v1685043818/blurry-gradient-haikei_hf8srn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Mobile */
@media only screen and (max-width: 580px) {
    #LoginImgSide{
        height: 400px;
    }
    #LoginImgSide img{
        height: 360px;
    }

  }